html {
	font-size: 62.5%;
}

.login-form {
	position: absolute;
	top: 35%;
	left: 41%;
}

.login div:nth-child(1),
.login div:nth-child(2) {
	margin: 0.5rem 2rem;
}

.login div {
	position: relative;
	width: 24.8rem;
	height: 4.9rem;
}

input{
	margin-top: 2rem;
	outline: none;
	border: none;
	padding: 0.5rem 0.9rem;
	border-bottom: solid 1px black;
	transition: border 0.2s ease-out;
}

input:focus {
	border-color: #18c974;
}

label {
	color : #969696;
	font-family: sans-serif;
	font-size: 2rem;
	position: absolute;
	left: 0;
	width: 100%;
	height: 67%;
	padding-left: 0.4rem;
	padding-top: 1.9rem;
	transition: font-size 0.4s ease-out,
				padding-top 0.4s ease-out,
				color;
}

input:focus + label {
	padding-top: 0.6rem;
	font-size : 1.2rem;
	color: #18c974;
}

.button-on-index {
	text-align: center;
	margin-top: 2rem;
	margin-left: 2rem;
	margin-right: 2rem;
}

.btn {
	width: 24.6rem;
	height: 4rem;
	border: solid 1px transparent;
	border-radius: 5%;
	background-color: #18c974;
}

.signup-form{
	position: absolute;
	top: 30%;
	left: 35%;
}

.signup-form div {
	margin: 0.5rem 2rem;

}

#username {
	margin-left: 4rem;
}

#address {
	margin-left: 5rem;
}

.singup-btn {
	text-align: center;
}